img {
    height: 200px;
    width: 200px;
    margin: auto;
    display: flex;

}
h1 {
    font-family: "Libre Baskerville";
    background-color: antiquewhite;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;

}
p {
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: indianred;
    background-color: aquamarine;
}